html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

.navlinks, .links, #mail {
    line-height: 1.1;
    letter-spacing: -0.5px;
    transform: scaleY(0.85);
    display: inline-block;
}

::selection {
    background-color: #50d0b0;
    color: #0a192f; 
}


body {
    background-color: #0a192f;
    color: #c0c5ce;
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
}

a:hover {
    color: #50d0b0;
}

.navbar {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 5%;
    margin-top: 30px;
    font-size: 26px;
    text-align: right;
}

.contact {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    font-size: 40px;
}

@media (max-width: 1200px) {
    .contact {
        right: 4%;
        bottom: 4%;
    }
}

.links {
    color: #50d0b0;
    text-decoration: none;
    font-size: 26px;
}

.navlinks {
    color: #c0c5ce;
    text-decoration: none;
    font-size: 24px;
}

#introduction {
    max-width: 30%;
    margin-left: 10%;
    margin-right: 30%;
    font-size: 18px;
}

h1 {
    position: relative;
    line-height: 1.1;
    letter-spacing: -0.5px;
    transform: scaleY(0.85);
    display: inline-block;
}

#welcome {
    line-height: 1.1;
    letter-spacing: -0.5px;
    display: block;
    margin-top: 60vh;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
}

#transparent {
    color: #0a192f;
    font-size: 36px;
}


#intro {
    text-align: center;
    width: 50%;
    color: #8892b0;
    line-height: 1.1;
    letter-spacing: -0.5px;

}

button {
    margin-top: 2%;
    background-color: #0a192f;

    border: 2px solid #50d0b0;
    border-radius: 8px;

    transform: translateY(3rem);
    animation: rise 2s ease 1.2s forwards;
}


.buttontext {
    color: #c0c5ce;
    text-decoration: none;
    font-size: 24px;
    font-family: 'JetBrains Mono', monospace;
    padding: 25px;
    transform: scaleY(0.85);
}


.buttontext.hover {
    color: #50d0b0;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

.navlinks {
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.navlinks.visible {
    opacity: 1;
    transform: translateY(0);
}

.navb {
    padding-right: 20px;
}
