html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

.navlinks, .links, #mail {
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.5px;
    transform: scaleY(0.85);
    display: inline-block;
}


body {
    background-color: #1a242f;
    color: #c0c5ce;
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: 22px;
}

a:hover {
    color: #56a0a8;
}

.navbar {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 3%;
    margin-top: 3%;
    font-size: 26px;
    text-align: right;
}

.contact {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    font-size: 26px;
}

@media (max-width: 1200px) {
    .contact {
        right: 4%;
        bottom: 4%;
    }
}

.links {
    color: #00eaff;
    text-decoration: none;
    font-size: 26px;
}

.navlinks {
    color: white;
    text-decoration: none;
    font-size: 26px;
}

#introduction {
    text-align: center;
    margin-top: 45vh;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
}


@media (min-width: 1400px) {
    #introduction {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

@keyframes rise-from-below {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    margin-bottom: 0;
    position: relative;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.5px;
    transform: scaleY(0.85);
    display: inline-block;
    animation: rise-from-below 1.5s ease-out forwards;
}

#welcome {
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.5px;
    transform: scaleY(0.85);
    display: inline-block;
}

#transparent {
    color: rgba(250, 248, 248, 0.2);
    font-size: 36px;
}

@keyframes rise {
    to {
        opacity: 1;
        transform: scaleY(0.85);
    }
}

#intro {
    margin-top: 2%;
    text-align: center;
    width: 50%;
    max-width: 600px;
    color: #00eaff;
    opacity: 0;
    transform: translateY(3rem);
    animation: rise 2s ease 1.1s forwards;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.5px;
    transform: scaleY(0.85);
    display: inline-block;
}

.button {
    margin-top: 2%;
    background-color: #39424e;
    font-size: 26px;
    border: 25px #39424e;
    border-radius: 25px;
    opacity: 0;
    transform: translateY(3rem);
    animation: rise 2s ease 1.2s forwards;
}

#mail {
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 28px;
}

@keyframes show {
    to {
        opacity: 1;
        transform: translate(0);
    }
}

#mail:hover {
    color: #56a0a8;
}